/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*SCARICA FONT*/
body{
    font-family: ;
}*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
}

.column{
    float: left;
    width: calc(100%/3);
}